DATABASE_URL="postgresql://neondb_owner:<YOUR_NEON_DATABASE_PASSWORD>@ep-misty-heart-aiczm5vm-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=3001

JWT_ACCESS_SECRET="bcHKCfs9NOWJeygqndZL8Q2T6ohRYuUrt7kPlAzDaSjG0VXp"
JWT_REFRESH_SECRET="rtDTPGf4v7UwFaW8IYsigZJRLho9A3XM0nySmVjclHxdQbEz"
JWT_ACCESS_EXPIRY="15m"
JWT_REFRESH_EXPIRY="7d"
AI_SERVICE_URL=http://localhost:8000